<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  IgnorableNamespaces="uap rescap systemai">

  <Identity
    Name="LinguaGlass.WindowsAI.Poc"
    Publisher="CN=LinguaGlass Development"
    Version="0.1.0.2" />

  <Properties>
    <DisplayName>LinguaGlass Windows AI Speech PoC</DisplayName>
    <PublisherDisplayName>LinguaGlass Development</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.26100.0"
      MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="zh-CN" />
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="LinguaGlass.WindowsAI.Poc.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="LinguaGlass Windows AI Speech PoC"
        Description="Validates Windows AI Speech readiness and streaming recognition."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png" />
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>
